---
version: 0.5.1.0
slug: tzb-cc2652-flasher
name: TubesZB TI CC2652 FW Flasher
description: TubesZB TI CC2652 firmware flasher add-on
url: >
  https://github.com/tube0013/tubeszb_addons/tree/main/tzb-cc2652-flasher/
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
gpio: false
hassio_api: true
image: "ghcr.io/tube0013/{arch}-addon-tzb-cc2652-flasher"
init: false
options:
  device: null
  network_device: null
  trigger_esphome_bsl: false
  device_type: false
  sonoff: false
  cc2652p2_fw: false
  cc2652p7_fw: false
schema:
  device: device(subsystem=tty)?
  network_device: str?
  trigger_esphome_bsl: bool?
  device_type: bool?
  sonoff: bool?
  cc2652p2_fw: bool?
  cc2652p7_fw: bool?
  firmware_url: str?
  write_ieee: bool?
  ieee: str?
stage: experimental
startup: once
boot: manual
